<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZ0Jyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous"
    referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <title>LinkElist Portfolio</title>
</head>
<body>
    <nav>
        <div class="logo">
            <img src="{{url_for('static', filename='LinkElist logo.png')}}" alt="LinkElist Logo">
        </div>
        <div class="nav">
            <ul>
                <li><a href="{{url_for('index')}}">Home</a></li>
                <li><a href="{{url_for('profile')}}">Profile</a></li>
                <li><a href="{{url_for('works')}}">Works</a></li>
                <li><a href="{{url_for('contact')}}">Contact</a></li>
            </ul>
        </div>
    </nav>
    <main>
        <h1>Welcome to Link<span class="elis-text">Elis</span>t Portfolio</h1>
        <p>A simple portfolio website created using Flask of Aljon Elis.</p>
    </main>
        </ul>
    </nav>